:Root, html, body {
  padding: 0;
  margin: 0;
  display: block;
}

body {
  background: white;
  color: red;
  
}

header.header_class {
  padding: 0.4rem;
  text-align: center;
  background: red;
}

h1.h1_class {
  font-size: 3rem;
  color: white;
}

main.main_class {
  padding: 5rem 4rem;
  display: flex;
}

main.main_class > img {
  max-width: 50%;
}

main.main_class > article {
  font-size: 1.4rem;
  font-weight: 700;
}
