:Root, html, body {
  padding: 0;
  margin: 0;
  display: block;
}

body {
  background: white;
  color: red;
  
}

header.header_class {
  padding: 0.4rem;
  text-align: center;
}

h1.h1_class {
  font-size: 3rem;
}

main.main_class {
  padding: 4rem;
  display: flex;
}

main.main_class > img {
  max-width: 40%;
}

main.main_class > article {
  font-size: 1.6rem;
  font-weight: 700;
}

.box {
  border-style: solid;
  border-width: 1px;
  display: block;
  background-color: transparent;
  transition: width 4s, height 4s, background-color 4s, transform 4s;
}

.box:hover {
  background-color: #FFCCCC;
  transform: rotate(360deg);
}

header > h1.flash {
  font-size: 6rem;
  text-align: center;
  margin: auto;
  padding: 0;
  width: 12em;
  height: 1.2em;
  color: red;
  -webkit-animation-name: example2; /* Safari 4.0 - 8.0 */
  -webkit-animation-durationreds: 3.6s; /* Safari 4.0 - 8.0 */
  animation-name: example2;
  animation-duration: 3.6s;
  transition-timing-function: cubic-bezier(1, 0.75, 0.5, 0.75);
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example2 {
  0% {
    color: darkred;
    background-color: white;
    border: 0.1em darkred ridge;
  }
  10% {
    color: darkred;
    background-color: white;
    border: 0.1em darkred ridge;
  }
  20% {
    color: red;
    background-color: pink;
    border: 0.1em red ridge;
  }
  30% {
    color: red;
    background-color: pink;
    border: 0.1em red ridge;
  }
  40% {
    color: red;
    background-color: pink;
    border: 0.1em red ridge;
  }
  50% {
    color: pink;
    background-color: red;
    border: 0.1em pink ridge;
  }
  60% {
    color: pink;
    background-color: red;
    border: 0.1em pink ridge;
  }
  70% {
    color: pink;
    background-color: red;
    border: 0.1em pink ridge;
  }
  80% {
    color: white;
    background-color: darkred;
    border: 0.1em white ridge;
  }
  90% {
    color: white;
    background-color: darkred;
    border: 0.1em white ridge;
  }
  100% {
    color: white;
    background-color: darkred;
    border: 0.1em white ridge;
  }
}

